* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

figcaption{
    font-size: 2em;
}

a{
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    padding: 2% 5% 5% 5%;
    color:purple;
}

a:link{ 
    text-decoration:none;
} 

article{
    width: 450px;
    box-shadow: 1px 1px 1px gray;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

img{
    width: 100%;
}

.aligne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8% 3% 0 5%;
}
